<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Booked Times Calendar</title>
</head>

<body>
    <h1>Resource Schedule</h1>
    <div id="calendar"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var bookedTimesJSON = `{{{bookedTimesJSON}}}`; // Get the JSON string from the template

            console.log(bookedTimesJSON)

            // Parse the JSON string to obtain the bookedTimes array
            var bookedTimes = JSON.parse(bookedTimesJSON);

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridWeek',
                events: bookedTimes.map(function (event) {
                    event.start = moment(event.start, 'YYYY-MM-DD hh:mm:ss').format('YYYY-MM-DDTHH:mm:ss');
                    event.end = moment(event.end, 'YYYY-MM-DD hh:mm:ss').format('YYYY-MM-DDTHH:mm:ss');


                    return {
                        title: event.name,
                        start: event.start, // Start time
                        end: event.end,
                        participantId: event.participantId,
                        appointmentNumber: event.appointmentNumber,

                    };
                }),

                headerToolbar: {
                    right: 'prev,next today',
                    center: 'title',
                    left: 'dayGridMonth,dayGridWeek,dayGridDay'
                },

                eventTimeFormat: {
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: 'short'
                },
                eventDisplay: 'block',
                displayEventEnd: 'true',
                eventContent: function (arg) {
                    // Create a custom event content HTML element
                    var eventContentEl = document.createElement('div');
                    eventContentEl.classList.add('event-content');

                    // Title element
                    var titleEl = document.createElement('div');
                    titleEl.classList.add('event-title');
                    titleEl.textContent = arg.event.title;
                    eventContentEl.appendChild(titleEl);

                    // Time element
                    var timeEl = document.createElement('div');
                    timeEl.classList.add('event-time');
                    timeEl.textContent = moment(arg.event.start).format('h:mma') + ' - ' + moment(arg.event.end).format('h:mma');
                    eventContentEl.appendChild(timeEl);

                    var participantIdEl1 = document.createElement('div');
                    participantIdEl1.classList.add('event-participantId');
                    participantIdEl1.textContent = "Participant " + arg.event.extendedProps.participantId;
                    eventContentEl.appendChild(participantIdEl1);

                    var appointmentNumberEl = document.createElement('div');
                    appointmentNumberEl.classList.add('event-participantId');
                    appointmentNumberEl.textContent = "Appointment " + arg.event.extendedProps.appointmentNumber;
                    eventContentEl.appendChild(appointmentNumberEl);

                    return { domNodes: [eventContentEl] };
                },
            });

            calendar.render();
        });

    </script>
    <style>

        /* Calendar container */
        #calendar {
            margin-top: 50px;
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            min-height: 800px;
            max-height: fit-content;
        }

        /* Event content */
        .event-content {
            color: #fff;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        /* Event title */
        .event-title {
            font-size: 20px;
            margin-bottom: 5px;
        }

        /* Event time */
        .event-time {
            font-size: 14px;
        }

        /* Participant ID */
        .event-participantId {
            font-size: 13px;
            opacity: 0.8;
        }

        /* Calendar header */
        .fc-header-toolbar {
            border-radius: 10px 10px 0 0;

            padding: 10px;
            margin-bottom: 20px;
        }

        /* Event hover effect */
        .fc-event:hover {
            background-color: #73c7ff;
        }

        /* Event border */
        .fc-event {
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</body>
</html>