/* CSS styles for main.handlebars */

body {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}

.main-container {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  color: #333;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #666;
}

/* Navigation Bar Styling */
.nav-bar {
  background-color: #4287f5;

}

.nav-content {
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.75em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #0d5ab6;
}

/* button {
  font-size: 1.25em;
} */


/* Media query for mobile devices with width up to 600px */
@media (max-width: 600px) {
  form {
    font-size: 20px !important; /* Adjust the font size for mobile */
  }
  label,
  input,
  textarea {
    font-size: 20px !important;  /* Adjust the font size for mobile */
  }
}