/* CSS styles for main.handlebars */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}

.main-container {
  min-width: 1000px;
  max-width: 70%;
  margin: 0 auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 15px;
}

/* Navigation Bar Styling */
.nav-bar {
  background-color: #4287f5;
}

.nav-content {
  max-width: 70%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #0d5ab6;
}
