/* CSS styles for main.handlebars */

body {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  width: 100%

}

.main-container {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.25em;
  color: #333;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #666;
}

/* Navigation Bar Styling */
.nav-bar {
  background-color: #4C25E1;


}

.nav-content {
  max-width: 70%;
  margin: 0 auto;
  font-size: 1.25em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #0d5ab6;
}

/* button {
  font-size: 1.25em;
} */


/* Media query for mobile devices with width up to 600px */
@media (max-width: 1200px) {
  .main-container {
    max-width: 90%;
  }

  .nav-content {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .button {
    font-size: 1em;
  }

  .button2 {
    font-size: 1em;
  }

  .pagination-link {
    font-size: 1em;
  }

  .table-header {
    font-size: 1em;
  }

  .table-row {
    font-size: 1em;
  } 

  .table-row td {
    padding: 5px;
  }

}

