#bookingModal {
    display: none;
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: 0;
  }
  
  #bookingModal.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  
  .modal-content {
    width: 110%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 10px;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  
  .modal-title {
    margin-bottom: 0;
    font-size: 18px;
    color: #333333;
  }
  
  .modal-body {
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .modal-footer .btn {
    margin-left: 0.5rem;
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-footer button {
   
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .modal-footer .btn-primary:hover {
    background-color: #0056b3;
  }

  .modal-footer .btn-secondary:hover {
    background-color: #5a6268;
  }

  .modal-footer .btn-primary {
    background-color: #007bff;
  }

  .modal-footer .btn-secondary {
    background-color: #6c757d;
  }  